body
{
    background: #ccc;
}

.container
{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

/* stripe */
.stripe
{
    width: 500px;
    height: 100px;
}

/* saffron */
#saffron
{
    background-color: #ff9933;
}

/* white */
#white
{
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* green */
#green
{
    background: #138808;
}

/* chakra */
.ashoka-chakra
{
    height: 40px;
    width: 40px;
}

/* message */
.message
{
    text-align: center;
}

.message span
{
    color: #000000;
}

/* marquee text */
marquee
{
    padding: 20px;
}

/* link text */
a:link, a:visited
{
    background-color: #ff9933;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}